<div class="container">
  <h1><u>How much this costs?</u></h1>
  You only pay for your grocery costs plus a shopping fee and a delivery fee.
  <p>
  <ul class="payment-policy">
    <li>For orders under $50, the shopping fee is $12 per order.</li>
    <li>For orders over $50, the shopping fee is 20% of your total grocery bill.</li>
    <li>Delivery fees are $5 for each grocery store you ask us to shop from within 5 miles of your home within our service areas (Yes, we’ll shop at a few different ones if you need us to run around for you!).</li>
    <li>Same Day Deliveries have a flat $15 delivery fee plus $5 per each additional grocery store beyond the first one you’d like us to shop from.</li>
    <li>FIRST TIME ORDERS REQUIRE A REFUNDABLE $50 deposit (returned on the first order).</li>

  </ul>
</p>

</div>
