<center><h1>Welcome BUSY MoM !!</h1>
<%= link_to "Place a new order", new_order_path ,class: "btn btn-default btn-lg" %>
<input type="text" id="recipe_title" value="">
<input type="button" onClick="getRecipeJson()" value="Search">
</center>

<div id="recipes">
  <%= render partial: "pages/recipes" %>
</div>



<script>
function getRecipeJson()
{
        var recipe = document.getElementById("recipe_title").value
        var apiKey = "dvxIHNad7v9H4BT7z21w4o6HM36kv0ix";
        //var titleKeyword = "lasagna";
        var url = "http://api.bigoven.com/recipes?pg=1&rpp=25&title_kw="
                  + recipe
                  + "&api_key="+apiKey;

        $.ajax({
            type: "GET",
            dataType: 'json',
            cache: false,
            url: url,
            success: function (data) {
                var templateHTML = $(".myTemplate").html();
                console.log(data);
                var compiler = _.template(templateHTML);
                var result = compiler(data);
              //  console.log(result);
                $("body").append(result);

              }
        });

  }

$(window).ready(getRecipeJson);

</script>

<script type="text/template" class="myTemplate">

{{ _.each(Results, function(result){ }}
<div class="col-sm-6 col-md-4">
<div class="thumbnail">

<a href ="#" data-toggle="modal" data-target="#myModal"><img src= "{{= result.ImageURL }}"></a>
<span>{{= result.Title }}</span>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <img src= "{{= result.ImageURL }}">
        <span>{{= result.Instructions }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save To Favorites</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>
{{ }); }}

</script>
