@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";

#map
{
  height: 400px;
}

img
{
  height: 100%;
  width: 100%;
}



#all-recipes
{
  padding-top: 70px;
}

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

.main-page
{
  background-image: url("https://s3-us-west-2.amazonaws.com/busymoms-dev/bgimage1.jpg");
}
