@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";

#map
{
  height: 400px;
}

img
{
  height: 100%;
  width: 10recipe0%;
}

.search-recipe
{
  display: inline;
}

#all-recipes
{
  padding-top: 70px;
}
